.control-panel {
  border: solid 1px gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;
  align-items: center;
  justify-content: space-evenly;
  margin: 8px;
  padding: 1px;
  width: 22em;
}

.control {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 0.5em;
}


.control__label {
  flex: 1 1 auto;
}
