body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0em;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  flex-direction: row;
} 

.citation {
  border: 1px solid black;
  padding: 2%;
  margin: 4%;
}

.controls {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} 

#header {
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
  margin-top: 2%;
}

@media screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
  .controls {
    margin-top: 20px;
  }
}
