body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2%;
  padding: 10px;
  border: 1px solid gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
}

button:hover {
  background-color: #39b3c38b ;
}

.App {
  display: flex;
  flex-direction: row;
} 

.citation {
  border: 1px dotted gray;
  padding: 2%;
  margin: 4%;
}

.controls {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} 

#header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 300;
}

#tag {
  display: flex;
  justify-content: center;
  font-size: smaller;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
  .controls {
    margin-top: 20px;
    flex-direction: row;
  }
}

@media screen and (max-width: 780px) {
  .controls {
    flex-direction: column;
  }
   #header {
    font-size: 110%;
  }
}
